<!DOCTYPE html>
<html>
        <head>
			<title>questions</title>
			<link rel="stylesheet" href="../static/css/style.css">
		 <head>
	<body>
          <div class="example">	
	    <header>
		<h3>Stackoverflow-lite questions page</h3>
		</header>
		<ul>
			<li><a href="index.html">HOME</a></li>
			<li><a href="questions.html">POST QUESTIONS</a></li>
			 <li><a href="displayqns.html">DISPLAY QUESTIONS</a></li>
			<li><a href="answers.html">ANSWERS</a></li>
			<li><a href="about.html">ABOUT</a></li>
            <li><a href="login.html">LOG OUT</a></li>
		</ul>
		<div class="container">
			<form action_page.py>
			<div class ="row">
				<div class = "col-25">
				<label for="qn1"> question</label> 
				</div>
				<div class="col-75">
				<input type="text" id="qn1" name="question" 
				placeholder ="subject of the question"
				</div>	
				</div>
			<div class="col-75">
			<br><pre><textarea id="qn2" name="qn2" placeholder="post here your question" style="height:200px">. </textarea></pre>
			</div>
			</div>
			<div class="row">
				<input type="Submit"
				value="Submit">
				</div>
			</form>
			<br><br><br><footer>Copyright &copy; Stackoverflow-lite</footer>
		</div>
       </div>		
	</body>

</html>