<!DOCTYPE html>
<html>
	<head>
		<title>sign up</title>
		 <link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body> 
	<div class="example">
	<center>
	    <header>
		<h2>Stackoverflow-lite SignUp page</h2>
		</header>
		<ul>
			<li><a href="login.html">LOG IN</a></li>
		</ul>	
		<div class="container">
			<form action_page.py target="_blank">
			<div class ="row">
				<div class = "col-25">
				<label for="Fname"> Firstname</label> 
				</div>
				<div class="col-75">
				<input type="text" id="Fname" name="Firstname" 
				placeholder ="your Firstname"
				</div>	
				</div>
				<div class ="row">
				<div class = "col-25">
				<label for="Lname"> Lastname</label> 
				</div>
				<div class="col-75">
				<input type="text" id="Lname" name="Lastname" 
				placeholder ="your Lastname"
				</div>	
				</div>
			<div class ="row">
				<div class = "col-25">
				<label for="Uname"> Username</label> 
				</div>
				<div class="col-75">
				<input type="text" id="Uname" name="Username" 
				placeholder ="your username"
				</div>	
				</div>
				<div class ="row">
				<div class = "col-25">
				<label for="Email"> Email</label> 
				</div>
				<div class="col-75">
				<input type="email" id="email" name="email" 
				placeholder ="your email"
				</div>	
				</div>
			<div class ="row">
				<div class = "col-25">
				<label for="Pword"> Password</label> 
				</div>
				<div class="col-75">
				<input type="text" id="Pword" name="Password" 
				placeholder ="your password"
				</div>	
				</div>
				<div class ="row">
				<div class = "col-25">
				<label for="Pword"> Confirm Password</label> 
				</div>
				<div class="col-75">
				<input type="text" id="Pword" name="Confirm Password" 
				placeholder ="Confirm Password"
				</div>	
				</div>
				<br><div class="row">
				<input type="Submit"
				value="Submit">
				</div>
					
		
			</form>
			<br><br><br><footer>Copyright &copy; Stackoverflow-lite</footer>
		</div>	
	</center>	
	</div>
	</body>

</html>